/* * {
    outline: 1px solid black;
} */

*{
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
}

.custom-shadow {
    -webkit-box-shadow: 0px 0px 16px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 16px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 16px 2px rgba(0,0,0,0.1);
  }